<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  {{> site/templates/head-common.html }}
  <meta name="description" content="Personal blog of Saiful B. Khan.">
  <title>Saiful B. Khan</title>
</head>

<body>
  <header class="heading">
    <h1 class="main-title">Saiful B. Khan</h1>
    <div class="main-navigation">
      <a href="/about">About</a>
      <a href="/posts">Archive</a>
    </div>
  </header>
  <section class="main">
    <div class="container">
      <div class="content">
        <h2>Recent Posts</h2>
        {{# posts }}
          <div class="post-item">
            <div class="post-title">
              <a href="{{ url }}"><b>{{ title }}</b></a>
            </div>
            <div class="post-date">
              <p>{{ date }}</p>
            </div>
          </div>
        {{/ posts }}
        {{^ posts }}
          <p>Nothing here yet! :(</p>
        {{/ posts }}
      </div>
    </div>
  </section>
</body>

</html>