<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  {{> site/templates/head-common.html }}
  <meta name="description" content="Saiful B. Khan">
  <link rel="stylesheet" href="/css/syntax.css">
  <title>{{ title }}</title>
</head>

<body>
  <section class="heading">
    <h1>{{ title }}</h1>
    <p>Written on {{ date }}.</p>
  </section>
  <section class="main">
      <div class="container">
          <div class="content">
              {{{ content }}}
          </div>
      </div>
  </section>
</body>

</html>