<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  {{> site/templates/head-common.html }}
  {{> site/templates/highlighter.html }}
  <meta name="description" content="Saiful B. Khan">
  <title>{{ title }}</title>
</head>

<body>
  {{> site/templates/navbar.html }}
  <header class="heading">
    <h1>{{ title }}</h1>
    <p>Written on {{ date }}
      {{# hasCategory }}
        under
        {{# categories }}
          <a href="/categories/{{ . }}">{{ . }}</a>
        {{/ categories }}
      {{/ hasCategory }}
      {{# hasTag }}
        with tags
        {{# tags }}
          <a href="/tags/{{ . }}">{{ . }}</a>
        {{/ tags }}
        .
      {{/ hasTag }}
      {{^ hasTag }}
        .
      {{/ hasTag }}
    </p>
  </header>
  <section class="main">
    <div class="container">
      <div class="content">
        {{{ content }}}
      </div>
    </div>
  </section>
  {{> site/templates/footer.html }}
</body>

</html>