<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
  {{> site/templates/head-common.html }}
  {{> site/templates/highlighter.html }}
  <meta name="description" content="Saiful B. Khan">
  <title>{{ title }}</title>
</head>

<body>
  {{> site/templates/navbar.html }}
  <header class="heading">
    <h1>{{ title }}</h1>
    <div class="post-metadata">
      <p>Created on {{ date }}</p>
      {{# hasTag }}
        <p>Tagged with
          {{# tags }}
            <a href="/tags/{{ . }}" class="post-tag">#{{ . }}</a>
          {{/ tags }}
        </p>
      {{/ hasTag }}
    </div>
  </header>
  <section class="main">
    <div class="container">
      <div class="post-content">
        {{{ content }}}
      </div>
    </div>
  </section>
  {{> site/templates/disqus.html }}
  {{> site/templates/footer.html }}
</body>

</html>